json_program.txt
[
    {
        "id": "ee9e9d247806100b",
        "type": "midi in",
        "z": "ffef0fb3c4889303",
        "name": "",
        "midiport": "1",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "41ea8c0369e2550c"
            ]
        ]
    },
    {
        "id": "41ea8c0369e2550c",
        "type": "switch",
        "z": "ffef0fb3c4889303",
        "name": "",
        "property": "payload[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "16",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "17",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "18",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "19",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "20",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "21",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "22",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "23",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 16,
        "x": 290,
        "y": 300,
        "wires": [
            [
                "777212a63b683698"
            ],
            [
                "b1cf5709085dec84"
            ],
            [
                "b579f196a2d0d50d"
            ],
            [
                "2ab32413c99578e4"
            ],
            [
                "8581cce5fd6da9e2"
            ],
            [
                "f3320feb1ba0eafb"
            ],
            [
                "7678e09f322fe455"
            ],
            [
                "da81ee55ed1e74fc"
            ],
            [
                "5218c77f43ac1955"
            ],
            [
                "7c522a3cefa74fb4"
            ],
            [
                "853ffcfb838d3f40"
            ],
            [
                "ada6bd35be92c57e"
            ],
            [
                "3192ca32fc534ffa"
            ],
            [
                "0906bb9c722d2352"
            ],
            [
                "ef2987e65ed169b0"
            ],
            [
                "545182669e3638c1"
            ]
        ]
    },
    {
        "id": "777212a63b683698",
        "type": "function",
        "z": "ffef0fb3c4889303",
        "name": "fader 0",
        "func": "var payload = msg.payload;\nvar extractedValue = payload[1];\nmsg.payload = extractedValue;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 80,
        "wires": [
            [
                "8d05e7f9a37a63a5"
            ]
        ]
    },
    {
        "id": "8d05e7f9a37a63a5",
        "type": "ui_gauge",
        "z": "ffef0fb3c4889303",
        "name": "",
        "group": "930778d2c91404cc",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "fader 0",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "127",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 80,
        "wires": []
    },
    {
        "id": "b1cf5709085dec84",
        "type": "function",
        "z": "ffef0fb3c4889303",
        "name": "fader 1",
        "func": "var payload = msg.payload;\nvar extractedValue = payload[1];\nmsg.payload = extractedValue;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 120,
        "wires": [
            [
                "bc5b62c0221d3402"
            ]
        ]
    },
    {
        "id": "bc5b62c0221d3402",
        "type": "ui_gauge",
        "z": "ffef0fb3c4889303",
        "name": "",
        "group": "11be74295db16ba5",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "fader 1",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "127",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 120,
        "wires": []
    },
    {
        "id": "b579f196a2d0d50d",
        "type": "function",
        "z": "ffef0fb3c4889303",
        "name": "fader 2",
        "func": "var payload = msg.payload;\nvar extractedValue = payload[1];\nmsg.payload = extractedValue;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 160,
        "wires": [
            [
                "4b83e031d4a981d7"
            ]
        ]
    },
    {
        "id": "4b83e031d4a981d7",
        "type": "ui_gauge",
        "z": "ffef0fb3c4889303",
        "name": "",
        "group": "b34ac7c4eb33ee5a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "fader 2",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "127",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 160,
        "wires": []
    },
    {
        "id": "2ab32413c99578e4",
        "type": "function",
        "z": "ffef0fb3c4889303",
        "name": "fader 3",
        "func": "var payload = msg.payload;\nvar extractedValue = payload[1];\nmsg.payload = extractedValue;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 200,
        "wires": [
            [
                "6c44177cdcd74c9f"
            ]
        ]
    },
    {
        "id": "6c44177cdcd74c9f",
        "type": "ui_gauge",
        "z": "ffef0fb3c4889303",
        "name": "",
        "group": "cb4eabcb89cdeb73",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "fader 3",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "127",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 200,
        "wires": []
    },
    {
        "id": "8581cce5fd6da9e2",
        "type": "function",
        "z": "ffef0fb3c4889303",
        "name": "fader 4",
        "func": "var payload = msg.payload;\nvar extractedValue = payload[1];\nmsg.payload = extractedValue;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 240,
        "wires": [
            [
                "f4671252781bf668"
            ]
        ]
    },
    {
        "id": "f4671252781bf668",
        "type": "ui_gauge",
        "z": "ffef0fb3c4889303",
        "name": "",
        "group": "491051f9f0fc09f6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "fader 4",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "127",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 240,
        "wires": []
    },
    {
        "id": "f3320feb1ba0eafb",
        "type": "function",
        "z": "ffef0fb3c4889303",
        "name": "fader 5",
        "func": "var payload = msg.payload;\nvar extractedValue = payload[1];\nmsg.payload = extractedValue;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 280,
        "wires": [
            [
                "b443f4a510cbc083"
            ]
        ]
    },
    {
        "id": "b443f4a510cbc083",
        "type": "ui_gauge",
        "z": "ffef0fb3c4889303",
        "name": "",
        "group": "5d9f4754e923a69c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "fader 5",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "127",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 280,
        "wires": []
    },
    {
        "id": "7678e09f322fe455",
        "type": "function",
        "z": "ffef0fb3c4889303",
        "name": "fader 6",
        "func": "var payload = msg.payload;\nvar extractedValue = payload[1];\nmsg.payload = extractedValue;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 320,
        "wires": [
            [
                "0514e34fc2824d71"
            ]
        ]
    },
    {
        "id": "0514e34fc2824d71",
        "type": "ui_gauge",
        "z": "ffef0fb3c4889303",
        "name": "",
        "group": "c803189504f5492f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "fader 6",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "127",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 320,
        "wires": []
    },
    {
        "id": "da81ee55ed1e74fc",
        "type": "function",
        "z": "ffef0fb3c4889303",
        "name": "fader 7",
        "func": "var payload = msg.payload;\nvar extractedValue = payload[1];\nmsg.payload = extractedValue;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 360,
        "wires": [
            [
                "d64d94d21f7e0e56"
            ]
        ]
    },
    {
        "id": "d64d94d21f7e0e56",
        "type": "ui_gauge",
        "z": "ffef0fb3c4889303",
        "name": "",
        "group": "104fb882fda484cc",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "fader 7",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "127",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 360,
        "wires": []
    },
    {
        "id": "5218c77f43ac1955",
        "type": "function",
        "z": "ffef0fb3c4889303",
        "name": "knob 16",
        "func": "var payload = msg.payload;\nvar extractedValue = payload[1];\nmsg.payload = extractedValue;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 400,
        "wires": [
            [
                "02b9a89550571964"
            ]
        ]
    },
    {
        "id": "02b9a89550571964",
        "type": "ui_gauge",
        "z": "ffef0fb3c4889303",
        "name": "",
        "group": "930778d2c91404cc",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "knob 16",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "127",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 400,
        "wires": []
    },
    {
        "id": "7c522a3cefa74fb4",
        "type": "function",
        "z": "ffef0fb3c4889303",
        "name": "knob 17",
        "func": "var payload = msg.payload;\nvar extractedValue = payload[1];\nmsg.payload = extractedValue;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 440,
        "wires": [
            [
                "919420c562bcb818"
            ]
        ]
    },
    {
        "id": "919420c562bcb818",
        "type": "ui_gauge",
        "z": "ffef0fb3c4889303",
        "name": "",
        "group": "11be74295db16ba5",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "knob 17",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "127",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 440,
        "wires": []
    },
    {
        "id": "853ffcfb838d3f40",
        "type": "function",
        "z": "ffef0fb3c4889303",
        "name": "knob 18",
        "func": "var payload = msg.payload;\nvar extractedValue = payload[1];\nmsg.payload = extractedValue;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 480,
        "wires": [
            [
                "5de425f5b9c44cdd"
            ]
        ]
    },
    {
        "id": "5de425f5b9c44cdd",
        "type": "ui_gauge",
        "z": "ffef0fb3c4889303",
        "name": "",
        "group": "b34ac7c4eb33ee5a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "knob 18",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "127",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 480,
        "wires": []
    },
    {
        "id": "ada6bd35be92c57e",
        "type": "function",
        "z": "ffef0fb3c4889303",
        "name": "knob 19",
        "func": "var payload = msg.payload;\nvar extractedValue = payload[1];\nmsg.payload = extractedValue;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 520,
        "wires": [
            [
                "613a170e6d3666ae"
            ]
        ]
    },
    {
        "id": "613a170e6d3666ae",
        "type": "ui_gauge",
        "z": "ffef0fb3c4889303",
        "name": "",
        "group": "cb4eabcb89cdeb73",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "knob 19",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "127",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 520,
        "wires": []
    },
    {
        "id": "3192ca32fc534ffa",
        "type": "function",
        "z": "ffef0fb3c4889303",
        "name": "knob 20",
        "func": "var payload = msg.payload;\nvar extractedValue = payload[1];\nmsg.payload = extractedValue;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 560,
        "wires": [
            [
                "91a12bb6e6703775"
            ]
        ]
    },
    {
        "id": "91a12bb6e6703775",
        "type": "ui_gauge",
        "z": "ffef0fb3c4889303",
        "name": "",
        "group": "491051f9f0fc09f6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "knob 20",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "127",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 560,
        "wires": []
    },
    {
        "id": "0906bb9c722d2352",
        "type": "function",
        "z": "ffef0fb3c4889303",
        "name": "knob 21",
        "func": "var payload = msg.payload;\nvar extractedValue = payload[1];\nmsg.payload = extractedValue;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 600,
        "wires": [
            [
                "1f942f4ed8ae0bf9"
            ]
        ]
    },
    {
        "id": "1f942f4ed8ae0bf9",
        "type": "ui_gauge",
        "z": "ffef0fb3c4889303",
        "name": "",
        "group": "5d9f4754e923a69c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "knob 21",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "127",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 600,
        "wires": []
    },
    {
        "id": "ef2987e65ed169b0",
        "type": "function",
        "z": "ffef0fb3c4889303",
        "name": "knob 22",
        "func": "var payload = msg.payload;\nvar extractedValue = payload[1];\nmsg.payload = extractedValue;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 640,
        "wires": [
            [
                "0a581459ee45d359"
            ]
        ]
    },
    {
        "id": "0a581459ee45d359",
        "type": "ui_gauge",
        "z": "ffef0fb3c4889303",
        "name": "",
        "group": "c803189504f5492f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "knob 22",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "127",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 640,
        "wires": []
    },
    {
        "id": "545182669e3638c1",
        "type": "function",
        "z": "ffef0fb3c4889303",
        "name": "knob 23",
        "func": "var payload = msg.payload;\nvar extractedValue = payload[1];\nmsg.payload = extractedValue;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 680,
        "wires": [
            [
                "ed9adbb357d465a0"
            ]
        ]
    },
    {
        "id": "ed9adbb357d465a0",
        "type": "ui_gauge",
        "z": "ffef0fb3c4889303",
        "name": "",
        "group": "104fb882fda484cc",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "knob 23",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "127",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 680,
        "wires": []
    },
    {
        "id": "930778d2c91404cc",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "e05a9479fa08cba0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "11be74295db16ba5",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "e05a9479fa08cba0",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b34ac7c4eb33ee5a",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "e05a9479fa08cba0",
        "order": 3,
        "disp": true,
        "width": 6
    },
    {
        "id": "cb4eabcb89cdeb73",
        "type": "ui_group",
        "name": "Group 4",
        "tab": "e05a9479fa08cba0",
        "order": 4,
        "disp": true,
        "width": 6
    },
    {
        "id": "491051f9f0fc09f6",
        "type": "ui_group",
        "name": "Group 5",
        "tab": "e05a9479fa08cba0",
        "order": 5,
        "disp": true,
        "width": 6
    },
    {
        "id": "5d9f4754e923a69c",
        "type": "ui_group",
        "name": "Group 6",
        "tab": "e05a9479fa08cba0",
        "order": 6,
        "disp": true,
        "width": 6
    },
    {
        "id": "c803189504f5492f",
        "type": "ui_group",
        "name": "Group 7",
        "tab": "e05a9479fa08cba0",
        "order": 7,
        "disp": true,
        "width": 6
    },
    {
        "id": "104fb882fda484cc",
        "type": "ui_group",
        "name": "Group 8",
        "tab": "e05a9479fa08cba0",
        "order": 8,
        "disp": true,
        "width": 6
    },
    {
        "id": "e05a9479fa08cba0",
        "type": "ui_tab",
        "name": "ホーム",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
